/* Variables */
:root{
  --primary-Color: rgb(35, 33, 38)
}

/*  Moz-FireFox  */
@-moz-document url-prefix(){}
/*  Internet Explorer  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast:none){}
/*  Chrome  */
@media screen and (-webkit-min-device-pixel-ratio:0){  
    
  /* Header Styles */
  .head_container{
      position: relative;
      bottom: 6px;
      right: 7px;
      height: 35ch;
      width: 101%;
  }
  .nav-bar{
    position: relative;
    height: 8ch;
    width: 100%;
  
    display: flex;
  
    background-color: var(--primary-Color);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.291);
  }
  .nav-title{
    position: relative;
    left: 1ch;
  
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: aliceblue;
  }  
  .nav-title-2{
    position: relative;
    left: 1.5ch;
  
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-shadow: 0px 0px 2px white;
  }
  .welcome-container{
      position: relative;
      top: 5ch;
      left: 1ch;
      height: 10ch;
      width: 80ch;

    border: .5px solid rgba(137, 137, 137, 0.32);
    background-color: rgba(51, 49, 49, 0.272);
  }
  .welcome-container-banner{
      position: relative;
      top: 6ch;
      left: 1ch;
      height: 2.3ch;
      width: 80ch;
    /* border: 1px solid black; */
    background-color: rgba(206, 212, 218, 0.19);
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(206, 212, 218, 0.19));
  }
  .welcome-title{
    position: relative;

    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(255, 255, 255);
  }
  #banner-img{
    position: relative;
    right: 10ch;
    bottom: 75ch;
    z-index: -6;

    width: auto;
    height: 10ch;
  }
  #banner-pic{
    position: relative;

    left: 56ch;
    bottom: 33ch;

    width: 100ch;
    height: 70ch;
    z-index: -1;
    /* border: 1px solid black; */
  }

  /* Body Styles */
  .body-container{
      position: relative;
      margin-top: 3ch;
      right: 7px;
      width: 101%;
      height: 80ch;
    background-color: var(--primary-Color);
  }
  .sector-container{
      position: relative;
      margin-top: 1ch;
      width: 177ch;
      height: 40ch;
    border: 1px solid black;
  }
  #sector-A{
    display: flex;
  }
  #sector-B{
    display: grid;
  }
  #box-1{
      position: relative;
      width: 87.5ch;
      height: 39ch;
      
    border: 4px solid rgba(245, 245, 245, 0.095);
  }
  #box-2{
      position: relative;
      width: 87.5ch;
      height: 39ch;
      margin-left: 0.5ch;

    border: 4px solid rgba(245, 245, 245, 0.095);
  }

  .edu-container{
      position: relative;
      width: 50ch;
      height: 8ch;

    border: .5px solid rgba(137, 137, 137, 0.32);
    box-shadow: 0px 5px 5px black;
    background-color: rgba(35, 34, 34, 0.272);
  }
  .edu-title{
    position: relative;

    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(255, 255, 255);
  }
  .edu-banner{
    position: relative;
      bottom: 10px;
      width: 50ch;
      height: 1.5ch;

    border: 1px solid rgb(26, 25, 25);
    box-shadow: 0px 5px 5px black;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.632), rgba(206, 212, 218, 0.19));
  }
  .edu-list{
      position: relative;
      left: 3ch;
      width: 70ch;
      height: 25ch;
  }
  .e-item{  
      position: relative;
      width: auto;
      height: 5ch;

      margin-top: 10px;
      font-family: 'Kdam Thmor Pro', sans-serif;
      color: aliceblue;

    border: .5px solid rgba(195, 195, 195, 0.533);
    background-color: rgba(0, 0, 0, 0.326);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.326), rgba(102, 101, 101, 0.393));
    display: flex;
  }
  .e-item:hover{
    box-shadow: 0px 2px 4px whitesmoke;
    transition: ease-in;
  }
  #e2{
    position: relative;
    left: 3ch;
  }
  #e3{
    position: relative;
    left: 6ch;
  }


  .ei-date{
    position: relative;
    left: 18.5ch;
  }
  #w-date{
    position: relative;
    left: 15ch;

  }
  #lsu-date{
    position: relative;
    left: 18ch;
  }

  .attr-container{
      position: relative;
      width: 50ch;
      height: 8ch;
    border: .5px solid rgba(137, 137, 137, 0.32);
    box-shadow: 0px 5px 5px black;
    background-color: rgba(35, 34, 34, 0.272);
  }
  .attr-title{
    position: relative;

    font-family: 'Kdam Thmor Pro', sans-serif;
    color: rgb(255, 255, 255);
  }
  .attr-banner{
      position: relative;
      bottom: 10px;
      width: 50ch;
      height: 1.5ch;

    border: 1px solid rgb(26, 25, 25);
    box-shadow: 0px 5px 5px black;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.632), rgba(206, 212, 218, 0.19));
  }
  .a-item{
      position: relative;
      width: 20ch;
      height: 5ch;
      margin-left: 2px;
      color: aliceblue;

    font-family: 'Kdam Thmor Pro', sans-serif;
    /* border: 1px solid white; */
  }
  .a-item >*{
    position: inherit;
    left: 2ch;
  }
  .a-list{
        position: relative;
        top: 2ch;
        left: 6ch;
        width: 78ch;

      /* border: 1px solid red; */
      display: flex;
  }

  #react-icon{
    position: relative;
    width: 5ch;
    height: 5ch;
  }
  #js-icon{
    position: relative;
    width: 5ch;
    height: 5ch;
  }
  #py-icon{
    position: relative;
    width: 5ch;
    height: 5ch;
  }
  #ja-icon{
    position: relative;
    left: 10px;
    width: 5ch;
    height: 5ch;
  }
  #c-icon{
    position: relative;
    top: 16px;
    left: 10px;
    width: 3ch;
    height: 3ch;
  }

  /* Footer Styles */
  .foot-container{
      position: relative;
      right: 7px;
      margin-top: 3ch;
      width: 100.5%;
      height: 31ch;

    background: linear-gradient(to top, black, var(--primary-Color));
  }
  .flink-container{
      position: relative;
      top: 2ch;
      left: 40ch;
      width: 90ch;
      height: 10ch;

    /* border: 1px solid white; */
    display: flex;
  }
  .flink-container >*{
    position: relative;
    left: 8ch;
    color: azure;
    margin-left: 10ch;
  }
  #fl-1{
    position: relative;
    width: 10ch;
    height: 10ch;
  }
  #fl-2{
    position: relative;
    width: 10ch;
    height: 10ch;
  }
  #fl-3{
    position: relative;
    width: 10ch;
    height: 10ch;
  }
  #f-git{
    position: relative;
    width: 10ch;
    height: 10ch;
  }
  #f-inst{
    position: relative;
    width: 10ch;
    height: 10ch;
  }
  #f-link{
    position: relative;
    width: 10ch;
    height: 10ch;
  }

  .quote-container{
      position: relative;
      top: 5ch;
      left: 25ch;
      width: 120ch;
      height: 10ch;
    border: 1px solid white;
  }
  .foot-banner{
      position: relative;
      top: 6.5ch;
      left: 35ch;
      width: 100ch;
      height: 0.5ch;

    background: rgba(245, 245, 245, 0.4);
    border: 1px solid rgba(245, 245, 245, 0.348);
  }

}